@{
    ViewBag.Title = "Index";
}

<style>
    .size-testo {
        font-size: 1.4em; /* Aumenta la dimensione del testo */
    }
    .size-titoli{
        font-size:2.3em;
    }
</style>

<h2 class="pacifico-regular size-titoli text-center">Chi siamo</h2>

<h3 class="pacifico-regular size-titoli text-center">Benvenuti da Sale e Pepe!</h3>
<div class="size-testo pacifico-regular">
    <div>
        <p>
            Siamo più di una semplice pizzeria: siamo un luogo in cui la passione per l'arte culinaria si unisce alla convivialità dell'esperienza
            di condivisione attorno a un tavolo imbandito. Fondati sulla tradizione italiana e guidati dall'innovazione, ci impegniamo a offrire ai
            nostri clienti un viaggio gastronomico indimenticabile, una fusione di sapori autentici e ingredienti freschi.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="~/Stile/img/image.png" style="max-width: 400px; height: auto; margin: 0 10px;"/>
        <img src="https://t3.ftcdn.net/jpg/01/90/55/84/360_F_190558434_hstWa2Orgb5kFDMVb3Q0koH2bRmpEbSm.jpg" alt="Forno a legna" style="max-width: 400px; height: auto; margin: 0 10px;" />
        <img src="https://th.bing.com/th/id/OIG1.cT1wGjVgyYDYpV6XX.Lt?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Logo" style="max-width: 400px; height: auto; margin: 0 10px;" />
    </div>
    <div style="margin-top: 20px;">
        <p>
            Il nostro impegno per l'eccellenza si riflette in ogni fase del processo, dalla selezione degli ingredienti alla preparazione delle pizze
            nel nostro forno a legna, fino alla presentazione in tavola. Ci affidiamo a fornitori locali e regionali per garantire la freschezza e la
            qualità dei nostri prodotti, e i nostri chef dedicati lavorano con maestria per portare sul vostro piatto autentiche creazioni culinarie.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="https://www.pizzanapoletana.org/struttura/pagine_bicolor/mobile/pizzaioli_associati_avpn_3.jpg" alt="Forno a legna" style="max-width: 400px; height: auto; margin: 0 10px;" />
        <img src="https://www.pizzaawards.it/wp-content/uploads/2019/10/cropped-Pizza-Awards-2019-Logo.png" alt="Logo" style="max-width: 400px; height: auto; margin: 0 10px;" />
        <img src="https://www.ricettasprint.it/wp-content/uploads/2021/02/PIzza-di-patate-ricettasprint.jpg" alt="Pizza" style="max-width: 400px; height: auto; margin: 0 10px;" />
    </div>
    <div style="margin-top: 20px;">
        <p>
            Ma Sale e Pepe non è solo una destinazione per una buona cena: è un luogo dove le famiglie si riuniscono per celebrare occasioni speciali,
            dove gli amici si ritrovano per condividere una risata e dove gli amanti della buona cucina trovano un rifugio per soddisfare i loro palati esigenti.
        </p>
    </div>
    <div style="margin-top: 20px;">
        <p>
            Grazie per aver scelto di condividere il vostro tempo e i vostri gusti con noi. Speriamo di vedervi presto tra i nostri ospiti!<br />
            Buon appetito!<br />
            Il team di Sale e Pepe
        </p>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 20px;">
        <p style="margin: 0; margin-right: 50px;">
            DA <br /> OGGI <br /> ANCHE  <br /> KEBAB
        </p>
        <img src="~/Stile/img/photo_2024-03-14_11-40-31.jpg" width="400px" />
    </div>

</div>
